/* css for main page, button */

html {
    height: 100%;
    width: 100%;
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.main {
    transition: margin-left .4s;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 100;
    text-align: left;
}

#main {
    transition: margin-left .4s;
}

.sidebar {
    height: 100%;
/*    width: 400px; did not change anything when commented out */
    background-color: #D8D8D8;
    position: fixed!important; /* changes overall size and look of sidebar */
    z-index: 1;
    overflow: auto;
}

.close-button {
/*    width: 100%; makes button 100% to width of sidebar */
    
}

h2 {
    text-align: left;
    padding: 8px 0 0 16px;
    margin-left: 10px;
    margin-bottom: 0;
}

/*This element controls the hamburger*/
.sidebar-button { 
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px!important; /*This controls the size of the hamburger*/
}

.animate-left {
    position: relative;
    animation: animateleft 0.4s;
}

.button-container {
    width: 250px;
    height: 125px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    text-align: center;
}

.break-time {
    color: #ff5618;
    font-weight: 300;
}

.count-down {
    color: black;
    font-size: 50px;
    margin: 0; /* space between time and button */
    
}

.button-box {
    /* this is the box */
    background-color: #979797;
    width: 125px;
    height: 50px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
    cursor: pointer; 
}

.button-text {
    /* text */
    color: white;
    font-size: 20px;
    letter-spacing: .5px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
	
.button-box:hover {
    background-color: #848383;
}
	
.button-box:active { /* used with a "link" selector, when the link becomes active */
    background-color: #979797; 
}